.blue {
	color: rgb(0, 229, 255);
}

.image {
	height: 200px;
	width: 200px;
	border: black;
	border-style: solid;
	border-radius: 50%;

}

#banner {
	height: 21.15em;
	text-align: center;
}

#portfolio {
  	margin-top: 0.5em;
}