
.blue {
	font-family: 'Carter One', cursive;
	color: rgb(215, 229, 232);
}

.image {
	height: 200px;
	width: 200px;
	border: black;
	border-style: solid;
	border-radius: 50%;

}

#banner {
	height: 21.15em;
	text-align: center;
}

#portfolio {
  	margin-top: 0.5em;
}

#body {
	font-family: 'Carter One', cursive;
	background: rgb(74, 208, 232);
}